MTP
version = 1.1.0
potential_name = MTP2_1
species_count = {{species_count}}
potential_tag = 
radial_basis_type = RBChebyshev
	min_dist = {{ min_dist }}
	max_dist = {{ max_dist }}
	radial_basis_size = {{ radial_basis_size }}
